<%- contentFor('HeaderCss') %>
<%-include("../partials/title-meta",{"title": "Recover Password"}) %>
<%- contentFor('body') %>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body pt-0">
            <h3 class="text-center mt-5 mb-4">
              <a href="/index" class="d-block auth-logo">
                <img src="/assets/images/logo-dark.png" alt="" height="30" class="auth-logo-dark">
                <img src="/assets/images/logo-light.png" alt="" height="30" class="auth-logo-light">
              </a>
            </h3>
            <div class="p-3">
              <h4 class="text-muted font-size-18 mb-3 text-center">Reset Password</h4>
              <div class="alert alert-info" role="alert">
                Enter your Email and instructions will be sent to you!
              </div>
              <% if(error.length> 0) { %>
              <div class="alert alert-borderless alert-danger text-center mb-2 mx-2" role="alert">
                <%= error %>
              </div>
              <% } %>
              <% if(message.length> 0) { %>
              <div class="alert alert-borderless alert-success text-center mb-2 mx-2" role="alert">
                <%= message %>
              </div>
              <% } %>
              <form action="/sendforgotpasswordlink" method="post">

                <div class="mb-3">
                  <label class="fw-semibold" for="useremail">Email</label>
                  <input type="email" class="form-control" name="email" required id="useremail" placeholder="Enter email">
                </div>

                <div class="mt-4 text-end">
                  <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>Remember It ? <a href="/login" class="text-primary"> Sign In Here </a> </p>
          © <script>
            document.write(new Date().getFullYear())
          </script> Lexa <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<%- contentFor('FooterJs') %>
<script src="/assets/js/pages/pass-addon.init.js"></script>