<%- contentFor('HeaderCss') %>
<%-include("../partials/title-meta",{"title": "Register"}) %>
<%- contentFor('body') %>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body pt-0">
            <h3 class="text-center mt-5 mb-4">
              <a href="/index" class="d-block auth-logo">
                <img src="/assets/images/logo-dark.png" alt="" height="30" class="auth-logo-dark">
                <img src="/assets/images/logo-light.png" alt="" height="30" class="auth-logo-light">
              </a>
            </h3>
            <div class="p-3">
              <h4 class="text-muted font-size-18 mb-1 text-center">Change Password</h4>
              <p class="text-muted text-center">Get change password your Lexa account now.</p>
              <form class="mt-4 pt-2" action="/changepassword" method="post">
                <input type="hidden" name="token" value="<%= token %>">
                <div class="form-floating form-floating-custom mb-3">
                  <input type="password" minlength="5" class="form-control" name="password" id="input-newpassword" placeholder="Password" id="password-input">
                  <label for="input-newpassword">New Password</label>
                  <div class="form-floating-icon">
                    <i class="uil uil-padlock"></i>
                  </div>
                </div>
                <div class="form-floating form-floating-custom mb-3">
                  <input type="password" class="form-control" minlength="5" name="confirmpassword" id="input-confirmpassword" placeholder="Password">
                  <label for="input-confirmpassword">Confirm Password</label>
                  <div class="form-floating-icon">
                    <i class="uil uil-check-circle"></i>
                  </div>
                </div>
                <div id="confirmpasswordInput" class="form-text text-danger" style="display: none;">Confirm password not matched.</div>
                <div class="mt-4">
                  <button class="btn btn-primary w-100" id="btnSubmit" type="submit">Reset</button>
                </div>
              </form><!-- end form -->
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
            <div class="bg-overlay"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
    <div class="mt-5 text-center">
      <p>Already have an account ? <a href="/login" class="fw-semibold text-decoration-underline"> Login
        </a> </p>
      <p>©
        <script>
          document.write(new Date().getFullYear())
        </script> <b>Samply</b>. Crafted with <i class="mdi mdi-heart text-danger"></i> by Pichforest
      </p>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
</div>
<!-- end container -->
</div>
<!-- end account page -->
<%- contentFor('FooterJs') %>
<script>
  const confirmpassword = document.getElementById("input-confirmpassword");
  const password = document.getElementById("input-newpassword");
  if (confirmpassword) {
    confirmpassword.addEventListener("keyup", function() {
      console.log(confirmpassword.value);
      // confirmpasswordInput
      if (confirmpassword.value != "" && password.value != "") {
        if (confirmpassword.value != password.value) {
          document.getElementById("confirmpasswordInput").style.display = "block";
          document.getElementById("btnSubmit").setAttribute("disabled", "disabled")
        } else {
          document.getElementById("confirmpasswordInput").style.display = "none";
          document.getElementById("btnSubmit").removeAttribute("disabled")
        }
      }
    })
  }
</script>